<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<main>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <form class="mb-md-5 mt-md-4 pb-5" method="post">

                                <h2 class="fw-bold mb-2 text-uppercase">Se connecter</h2>
                                <p class="text-white-50 mb-5">Entrez vos identifiants pour vous connecter</p>
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                                <div class="form-outline mb-4 form-floating text-dark">
                                    <input type="email" id="typeEmailX" name="email" class="form-control form-control-lg"
                                           placeholder="name@example.com"/>
                                    <label for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-floating mb-4 text-dark">
                                    <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg"
                                           placeholder="password"/>
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{{ url('app_forgot_password_request') }}">Forgot password?</a>
                                </p>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >


                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </form>
                            <a class="btn btn-outline-light btn-lg px-5" href="{{ url('app_register') }}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
