{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{%  block subHeader %}
    <div class="topnav">
        {% if(page == 'home') %}
            <a class="active" role="button" href="{{ path('app_home') }}">A la une</a>
        {% else %}
            <a role="button" href="{{ path('app_home') }}">A la une</a>
        {% endif %}
        {% if(page == 'hot') %}
            <a class="active" role="button" href="{{ path('app_hot') }}">Hot</a>
        {% else %}
            <a role="button" href="{{ path('app_hot') }}">Hot</a>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-3 align-items-start">
        <div class="d-flex flex-column gap-5 w-100">
            {% for publication in publications %}
                {{ component('publication', {
                    publication: publication
                }) }}
            {% else %}
                <p class="text-center">Aucune publication</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
