<div class="card publication">
    <div class="d-flex h-100 w-100">
        <img class="card-img align-self-center p-4" src="{{ asset('uploads/publications/'~publication.image) }}"
             alt="Publication image">
        <div class="w-100 d-flex flex-column">
            <div class="card-body">
                {{ component('notation', { publication: publication }) }}
                <h5 class="card-title fw-bold">{{ publication.title }}</h5>
                <h6 class="fw-bold">
                    {% if publication.codePromo.typeDeReduction.label == 'Livraison gratuite' %}
                        {{ publication.codePromo.typeDeReduction.label }}
                    {% elseif publication.codePromo.typeDeReduction.label == 'Pourcentage' %}
                        Réduction de {{ publication.codePromo.value }}%
                    {% elseif publication.codePromo.typeDeReduction.label == 'Euro' %}
                        Réduction de {{ publication.codePromo.value }}€
                    {% elseif publication.deal %}
                        {{ publication.deal.promotionalPrice }}€
                       <span class="text-decoration-line-through">{{ publication.deal.regularPrice }}€</span>
                    {% endif %}
                </h6>
                <p class="card-text">{{ publication.description }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="card-text flex-column d-flex">
                    <small class="text-muted">
                        Publié le {{ publication.publishedAt|date('d/m/Y') }} par {{ publication.author.pseudo }}
                    </small>
                    {% if publication.codePromo is not null %}
                        <small class="text-muted">
                            Expire le {{ publication.codePromo.expiredAt|date('d/m/Y') }}
                        </small>
                    {% endif %}
                </div>
                <div>
                    {% if publication.codePromo is not null %}
                        <a href="{{ path('app_code_promo_show', {id: publication.codePromo.id}) }}" class="btn btn-primary text-white">Voir le code promo</a>
                        {% elseif publication.deal is not null %}
                        <a href="{{ path('deal_show', {id: publication.deal.id}) }}" class="btn btn-primary">Voir le deal</a>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
</div>
